body{
background-image: url(../images/cutcube.png);
margin:15px;
}

h1{
    text-shadow: 0 0 50px red;
    color:white;
    
}
#score{
    text-shadow: 0 0 50px turquoise;
    color:white;  
}
#wins{
    text-shadow: 0 0 50px rgb(214, 78, 241);
    color:white; 
}

#losses{
    text-shadow: 0 0 50px rgb(38, 240, 88);
    color:white; 
}

#current{
    text-shadow: 0 0 50px rgb(39, 92, 238);
    color:white;  
    margin-top:40px;  
}



#directions {
    background-color: rgba(64, 224, 208, 0.1);
    padding: 10px;
    padding-bottom: 80px; 
    color:white; 
}

.crystal-image {
    width: 100px;
    height: 100px;
  }

#first-image{
    background-color: rgba(214, 78, 241, 0.1);

}

#second-image{
    background-color: rgba(39, 92, 238, 0.1);

}
#third-image{
    background-color: rgba(64, 224, 208, 0.1);

}

#fourth-image{
    background-color: rgba(38, 240, 88, 0.1);

}
.col-sm{
    margin-top:40px;
}

.container{
    margin-top:30px;
}

#alert{
    font-size:20px;
    text-shadow: 0 0 50px red;
    color:white;  
}